In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: attrs>=19.2.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: outcome in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import requests
import time
from selenium.common.exceptions import NoSuchElementException
import re

# Q1

In [33]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [34]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [35]:
#Rank=[ ]
#Name=[ ]
#Artist=[ ]//a[@class="mw-redirect"]
#Upload_date=[ ]
#Views=[ ]//a[@class="mw-redirect"]

In [60]:
nameurl=[ ]
#for nameurl in range:
for url in name:
    url=driver.find_elements(By.XPATH,'//th[@class="headerSort"]//abbr')
    for i in url:
        nameurl.append(i.get_attribute("href"))

In [61]:
len(nameurl)

0

# Q2

In [18]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [19]:
driver.get("https://www.bcci.tv/")

In [20]:
international=driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
international.click()

In [21]:
matchtitle=[ ]
series=[ ]
place=[ ]
date=[ ]
time=[ ]

In [22]:
title_tag=driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div[2]/div/div[1]/h5[2]/span')
for i in title_tag:
    matchtitle.append(i.text)
    
series_tag=driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div[2]/div/div[4]/div')
for i in series_tag:
    series.append(i.text)
    
place_tag=driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div[2]/div/div[4]/div/span[2]')
for i in place_tag:
    place.append(i.text)
    
date_tag=driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div[2]/div/div[1]/div/div[1]/h5')
for i in date_tag:
    date.append(i.text)
    
time_tag=driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div[2]/div/div[1]/div/div[2]/h5')
for i in time_tag:
    time.append(i.text)

In [23]:
import pandas as pd
df=pd.DataFrame({'Title':matchtitle, 'Series':series, 'Place':place, 'Date':date, 'Time':time})
df

,Title,Series,Place,Date,Time
0,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"1st ODI - Wankhede Stadium, Mumbai","Wankhede Stadium,",17 MAR 2023,1:30 PM IST

# Q3

In [3]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [4]:
driver.get("http://statisticstimes.com/")

In [7]:
economy=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()

In [8]:
india=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india.click()

In [11]:
states=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
states.click()

In [12]:
rank=[ ]
state=[ ]
GSDP1819=[ ]
GSDP1920=[ ]
share=[ ]
GDP=[ ]

In [23]:
rank_tag=driver.find_elements(By.XPATH,'//td[@class="data1"]')
for i in rank_tag[0:33]:
    rank.append(i.text)
    
state_tag=driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in state_tag[0:33]:
    state.append(i.text)
    
GSDP1819_tag=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in GSDP1819_tag[0:33]:
    GSDP1819.append(i.text)
    
GSDP1920_tag=driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/thead/tr[2]/th[1]')
for i in GSDP1920_tag[0:33]:
    GSDP1920.append(i.text)
    
#share_tag=driver.find_elements(By.XPATH,'')
#for i in share_tag[0:33]:
    #share.append(i.text)
    
#GDP_tag=driver.find_elements(By.XPATH,'')
#for i in GDP_tag[0:33]:
    #GDP.append(i.text)

In [28]:
import pandas as pd
df=pd.DataFrame({'Rank':rank, 'State':state, 'GSDP1819':GSDP1819})
df[0:33]

   Rank                      State   GSDP1819
0     1                Maharashtra  2,632,792
1     2                 Tamil Nadu  1,630,208
2     3              Uttar Pradesh  1,584,764
3     4                    Gujarat  1,502,899
4     5                  Karnataka  1,493,127
5     6                West Bengal  1,089,898
6     7                  Rajasthan    942,586
7     8             Andhra Pradesh    862,957
8     9                  Telangana    861,031
9    10             Madhya Pradesh    809,592
10   11                     Kerala    781,653
11   12                      Delhi    774,870
12   13                    Haryana    734,163
13   14                      Bihar    530,363
14   15                     Punjab    526,376
15   16                     Odisha    487,805
16   17                      Assam    315,881
17   18               Chhattisgarh    304,063
18   19                  Jharkhand    297,204
19   20                Uttarakhand    245,895
20   21            Jammu & Kashmir    155,956
21   22           Himachal Pradesh    153,845
22   23                        Goa     73,170
23   24                    Tripura     49,845
24   25                 Chandigarh     42,114
25   26                 Puducherry     34,433
26   27                  Meghalaya     33,481
27   28                     Sikkim     28,723
28   29                    Manipur     27,870
29   30                   Nagaland     27,283
30   31          Arunachal Pradesh     24,603
31   32                    Mizoram     22,287
32   33  Andaman & Nicobar Islands          -

# Q4

In [3]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [4]:
driver.get(" https://github.com/")

In [5]:
opensource=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]')
opensource.click()

In [6]:
trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')
trending.click()

In [7]:
title=[ ]
description=[ ]
count=[ ]
language=[ ]

In [8]:
title_tag=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]//a')
for i in title_tag:
    title.append(i.text)
    
description_tag=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in description_tag:
    description.append(i.text)
    
count_tag=driver.find_elements(By.XPATH,'//span[@class="d-inline-block mr-3"]')
for i in count_tag:
    count.append(i.text)
    
language_tag=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in language_tag:
    language.append(i.text)

In [12]:
import pandas as pd
df=pd.DataFrame({'Title':title ,'Description':description ,'Count':count ,'Language':language})
df

ValueError: All arrays must be of the same length

# Q5

In [3]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [4]:
driver.get("https:/www.billboard.com/")

In [5]:
charts=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]')
charts.click()

In [11]:
viewchart=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
viewchart.click()

In [12]:
song=[ ]
artist=[ ]
lastweek=[ ]
peakrank=[ ]
weekboard=[ ]

In [17]:
song_tag=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]//h3')
for i in song_tag:
    song.append(i.text)
    
#artist_tag=driver.find_elements(By.XPATH,'')
#for i in artist_tag:
    #artist.append(i.text)
    
lastweek_tag=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]//span')
for i in lastweek_tag:
    lastweek.append(i.text)

In [19]:
import pandas as pd
df=pd.DataFrame({'Lastweek':lastweek})
df

    Lastweek
0          5
1          6
2          2
3          8
4          3
..       ...
395       19
396       78
397        9
398       81
399        7

[400 rows x 1 columns]

# Q6

In [20]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [21]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare")

In [ ]:
#site is not working

# Q7

In [28]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [29]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [30]:
Name=[ ]
Year_span=[ ]
Genre=[ ]
Run_time=[ ]
Ratings=[ ]
Votes=[ ]

In [43]:
name_tag=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]//a')
for i in name_tag:
    Name.append(i.text)
    
year_tag=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in year_tag:
    Year_span.append(i.text)
    
genre_tag=driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in genre_tag:
    Genre.append(i.text)
    
runtime_tag=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in runtime_tag:
    Run_time.append(i.text)
    
rating_tag=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
for i in rating_tag:
    Ratings.append(i.text)
    
votes_tag=driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in votes_tag:
    Votes.append(i.text)

In [47]:
import pandas as pd
df=pd.DataFrame({'name':Name, 'year':Year_span, 'genre':Genre, 'runtime':Run_time, 'rating':Ratings, 'votes':Votes})
df

ValueError: All arrays must be of the same length

# Q8

In [53]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [54]:
driver.get("https://archive.ics.uci.edu/")

In [55]:
alldata=driver.find_element(By.XPATH,'//span[@class="whitetext"]//b')
alldata.click()

In [57]:
Dataset_name=[ ]
Data_type=[ ]
Task=[ ]
Attribute_type=[ ]
Noofinstances=[ ]
Noofattribute=[ ]
Year=[ ]

In [58]:
name_tag=driver.find_elements(By.XPATH,'//p[@class="normal"]//b')
for i in name_tag:
    Dataset_name.append(i.text)
    
#type_tag=driver.find_elements(By.XPATH,'')

In [59]:
import pandas as pd
df=pd.DataFrame({'Dataset name':Dataset_name})
df

                                          Dataset name
0                                              Abalone
1                                                Adult
2                                            Annealing
3                         Anonymous Microsoft Web Data
4                                           Arrhythmia
..                                                 ...
617  Influenza outbreak event prediction via Twitte...
618                      Turkish Music Emotion Dataset
619                      Maternal Health Risk Data Set
620                          Room Occupancy Estimation
621  Image Recognition Task Execution Times in Mobi...

[622 rows x 1 columns]

# Q9

In [4]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [5]:
driver.get("https://www.naukri.com/hr-recruiters-consultants")

In [18]:
designation=driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
designation.send_keys('Data Science')

AttributeError: 'list' object has no attribute 'send_keys'