In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium 
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import requests
import time
from selenium.common.exceptions import NoSuchElementException
import re

# Q1

In [33]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [34]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [35]:
#Rank=[ ]
#Name=[ ]
#Artist=[ ]//a[@class="mw-redirect"]
#Upload_date=[ ]
#Views=[ ]//a[@class="mw-redirect"]

In [60]:
nameurl=[ ]
#for nameurl in range:
for url in name:
    url=driver.find_elements(By.XPATH,'//th[@class="headerSort"]//abbr')
    for i in url:
        nameurl.append(i.get_attribute("href"))

In [61]:
len(nameurl)

0

# Q2

In [18]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [19]:
driver.get("https://www.bcci.tv/")

In [20]:
international=driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
international.click()

In [21]:
matchtitle=[ ]
series=[ ]
place=[ ]
date=[ ]
time=[ ]

In [22]:
title_tag=driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div[2]/div/div[1]/h5[2]/span')
for i in title_tag:
    matchtitle.append(i.text)
    
series_tag=driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div[2]/div/div[4]/div')
for i in series_tag:
    series.append(i.text)
    
place_tag=driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div[2]/div/div[4]/div/span[2]')
for i in place_tag:
    place.append(i.text)
    
date_tag=driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div[2]/div/div[1]/div/div[1]/h5')
for i in date_tag:
    date.append(i.text)
    
time_tag=driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div/div[2]/div/div[1]/div/div[2]/h5')
for i in time_tag:
    time.append(i.text)

In [23]:
import pandas as pd
df=pd.DataFrame({'Title':matchtitle, 'Series':series, 'Place':place, 'Date':date, 'Time':time})
df

,Title,Series,Place,Date,Time
0,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,"1st ODI - Wankhede Stadium, Mumbai","Wankhede Stadium,",17 MAR 2023,1:30 PM IST

# Q3

In [3]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [4]:
driver.get("http://statisticstimes.com/")

In [5]:
economy=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()

In [6]:
india=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india.click()

In [8]:
states=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
states.click()

In [9]:
rank=[ ]
state=[ ]
GSDP1819=[ ]
GSDP1920=[ ]
share=[ ]
GDP=[ ]

In [13]:
rank_tag=driver.find_elements(By.XPATH,'//td[@class="data1"]')
for i in rank_tag[0:33]:
    rank.append(i.text)
    
state_tag=driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in state_tag[0:33]:
    state.append(i.text)
    
GSDP1819_tag=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
for i in GSDP1819_tag[0:33]:
    GSDP1819.append(i.text)
    
GSDP1920_tag=driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/thead/tr[2]/th[1]')
for i in GSDP1920_tag[0:33]:
    GSDP1920.append(i.text)
    
share_tag=driver.find_elements(By.XPATH,'//td[5][@class="data"]')
for i in share_tag[0:33]:
    share.append(i.text)
    
GDP_tag=driver.find_elements(By.XPATH,'//td[6][@class="data"]')
for i in GDP_tag[0:33]:
    GDP.append(i.text)

In [19]:
import pandas as pd
df=pd.DataFrame({'Rank':rank, 'State':state, 'GSDP1819':GSDP1819, 'Share':share})
df[0:33]

   Rank                      State   GSDP1819   Share
0     1                Maharashtra  2,632,792  13.94%
1     2                 Tamil Nadu  1,630,208   8.63%
2     3              Uttar Pradesh  1,584,764   8.39%
3     4                    Gujarat  1,502,899   7.96%
4     5                  Karnataka  1,493,127   7.91%
5     6                West Bengal  1,089,898   5.77%
6     7                  Rajasthan    942,586   4.99%
7     8             Andhra Pradesh    862,957   4.57%
8     9                  Telangana    861,031   4.56%
9    10             Madhya Pradesh    809,592   4.29%
10   11                     Kerala    781,653   4.14%
11   12                      Delhi    774,870   4.10%
12   13                    Haryana    734,163   3.89%
13   14                      Bihar    530,363   2.81%
14   15                     Punjab    526,376   2.79%
15   16                     Odisha    487,805   2.58%
16   17                      Assam    315,881   1.67%
17   18               Chhattisgarh    304,063   1.61%
18   19                  Jharkhand    297,204   1.57%
19   20                Uttarakhand    245,895   1.30%
20   21            Jammu & Kashmir    155,956   0.83%
21   22           Himachal Pradesh    153,845   0.81%
22   23                        Goa     73,170   0.39%
23   24                    Tripura     49,845   0.26%
24   25                 Chandigarh     42,114   0.22%
25   26                 Puducherry     34,433   0.18%
26   27                  Meghalaya     33,481   0.18%
27   28                     Sikkim     28,723   0.15%
28   29                    Manipur     27,870   0.15%
29   30                   Nagaland     27,283   0.14%
30   31          Arunachal Pradesh     24,603   0.13%
31   32                    Mizoram     22,287   0.12%
32   33  Andaman & Nicobar Islands          -       -

# Q4

In [21]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [22]:
driver.get(" https://github.com/")

In [23]:
opensource=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]')
opensource.click()

In [24]:
trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')
trending.click()

In [25]:
title=[ ]
description=[ ]
count=[ ]
language=[ ]

In [30]:
title_tag=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]//a')
for i in title_tag:
    title.append(i.text)
    
description_tag=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in description_tag:
    description.append(i.text)
    
count_tag=driver.find_elements(By.XPATH,'//span[@class="d-inline-block mr-3"]')
for i in count_tag:
    count.append(i.text)
    
language_tag=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in language_tag:
    language.append(i.text)

In [35]:
import pandas as pd
df=pd.DataFrame({'Title':title, 'Description':description, 'Count':count})
df

,Title,Description,Count
0,deep-diver / Alpaca-LoRA-Serve,Alpaca-LoRA as Chatbot service,Built by
1,BloopAI / bloop,bloop is a fast code search engine written in ...,Built by
2,GerevAI / gerev,🧠 AI-powered search engine for your workplace 🔎,Built by
3,dair-ai / Prompt-Engineering-Guide,"🐙 Guides, papers, lecture, notebooks and resou...",Built by
4,mayooear / gpt4-pdf-chatbot-langchain,GPT4 & LangChain Chatbot for large PDF docs,Built by
5,mckaywrigley / chatbot-ui,A ChatGPT clone for running locally in your br...,Built by
6,keijiro / AICommand,ChatGPT integration with Unity Editor,Built by
7,pelennor2170 / NAM_models,A repository collecting model files for Neural...,Built by
8,modelscope / modelscope,ModelScope: bring the notion of Model-as-a-Ser...,Built by
9,nichtdax / awesome-totally-open-chatgpt,A list of totally open alternatives to ChatGPT,Built by
10,PlexPt / awesome-chatgpt-prompts-zh,ChatGPT 中文调教指南。各种场景使用指南。学习怎么让它听你的话。,Built by
11,cocktailpeanut / dalai,The simplest way to run LLaMA on your local ma...,Built by
12,Leizhenpeng / feishu-chatgpt,🎒飞书 ×（GPT-3.5 + DALL·E + Whisper）= 飞一般的工作体验 🚀 ...,Built by
13,josStorer / chatGPTBox,"Integrating ChatGPT into your browser deeply, ...",Built by
14,hwchase17 / langchain,⚡ Building applications with LLMs through comp...,Built by
15,f / awesome-chatgpt-prompts,This repo includes ChatGPT prompt curation to ...,Built by
16,microsoft / semantic-kernel,Integrate cutting-edge LLM technology quickly ...,Built by
17,PlexPt / chatgpt-java,ChatGPT Java SDK。支持 GPT3.5、 GPT4 API。开箱即用。,Built by
18,mymusise / ChatGLM-Tuning,"一种平价的chatgpt实现方案, 基于ChatGLM-6B + LoRA",Built by
19,lensterxyz / lenster,"Lenster is a decentralized, and permissionless...",Built by
20,chidiwilliams / buzz,Buzz transcribes and translates audio offline ...,Built by
21,Ciphey / Ciphey,⚡ Automatically decrypt encryptions without kn...,Built by
22,raysan5 / raylib,A simple and easy-to-use library to enjoy vide...,Built by
23,Beomi / KoAlpaca,KoAlpaca: Korean Alpaca Model based on Stanfor...,Built by
24,tloen / alpaca-lora,Instruct-tune LLaMA on consumer hardware,Built by

# Q5

In [20]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [21]:
driver.get("https:/www.billboard.com/")

In [22]:
charts=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]')
charts.click()

In [25]:
viewchart=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
viewchart.click()

In [26]:
song=[ ]
artist=[ ]
lastweek=[ ]
peakrank=[ ]
weekboard=[ ]

In [17]:
song_tag=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]//h3')
for i in song_tag:
    song.append(i.text)
    
#artist_tag=driver.find_elements(By.XPATH,'')
#for i in artist_tag:
    #artist.append(i.text)
    
lastweek_tag=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]//span')
for i in lastweek_tag:
    lastweek.append(i.text)

In [19]:
import pandas as pd
df=pd.DataFrame({'Lastweek':lastweek})
df

    Lastweek
0          5
1          6
2          2
3          8
4          3
..       ...
395       19
396       78
397        9
398       81
399        7

[400 rows x 1 columns]

# Q6

In [20]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [21]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare")

In [ ]:
#site is not working

# Q7

In [10]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [11]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [12]:
Name=[ ]
Year_span=[ ]
Genre=[ ]
Run_time=[ ]
Ratings=[ ]
Votes=[ ]

In [13]:
name_tag=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]//a')
for i in name_tag:
    Name.append(i.text)
    
year_tag=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in year_tag:
    Year_span.append(i.text)
    
genre_tag=driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in genre_tag:
    Genre.append(i.text)
    
runtime_tag=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in runtime_tag:
    Run_time.append(i.text)
    
rating_tag=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
for i in rating_tag:
    Ratings.append(i.text)
    
votes_tag=driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in votes_tag:
    Votes.append(i.text)

In [14]:
import pandas as pd
df=pd.DataFrame({'name':Name, 'year':Year_span, 'genre':Genre, 'runtime':Run_time, 'rating':Ratings, 'votes':Votes})
df

,name,year,genre,runtime,rating,votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,138,618"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,223,488"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,015,283"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"299,061"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"257,919"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,025"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,033"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"204,974"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"42,478"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"253,636"

# Q8

In [36]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [37]:
driver.get("https://archive.ics.uci.edu/")

In [38]:
alldata=driver.find_element(By.XPATH,'//span[@class="whitetext"]//b')
alldata.click()

In [39]:
Dataset_name=[ ]
Data_type=[ ]
Task=[ ]
Attribute_type=[ ]
Noofinstances=[ ]
Noofattribute=[ ]
Year=[ ]

In [41]:
name_tag=driver.find_elements(By.XPATH,'//p[@class="normal"]//b')
for i in name_tag:
    Dataset_name.append(i.text)
    
type_tag=driver.find_elements(By.XPATH,'//p[2][@class="normal"]')
for i in type_tag:
    Data_type.append(i.text)

In [46]:
len(Data_type)

0

In [47]:
import pandas as pd
df=pd.DataFrame({'Dataset Type':Data_type})
df

Empty DataFrame
Columns: [Dataset Type]
Index: []

# Q9

In [3]:
driver=webdriver.Chrome(r'chromedriver.exe')

In [4]:
driver.get("https://www.naukri.com/hr-recruiters-consultants")

In [5]:
search_Data_science = driver.find_element(By.XPATH,"//input[@class='sugInp']")
search_Data_science.send_keys('Data Science')

In [6]:
button=driver.find_element(By.XPATH,'//button[@class="fl qsbSrch blueBtn"]')
button.click()

In [7]:
Name=[ ]
Designation=[ ]
Company=[ ]
Skills=[ ]
Location=[ ]

In [8]:
try:
    name_tag=driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
    for i in name_tag:
        Name.append(i.text)
    
    designation_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
    for i in designation_tag:
        Designation.append(i.text)
    
    company_tag=driver.find_elements(By.XPATH,'//a[2][@class="ellipsis"]')
    for i in company_tag:
        Company.append(i.text)

    location_tag=driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')
    for i in location_tag:
        Location.append(i.text)
        
    skills_tag=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
    for i in skills_tag:
        Skills.append(i.text)
        
except NoSuchElementException:
    Name.append('-')
    Designation('-')
    Location.append('-')
    Skills('-')
    Company('-')

In [11]:
import pandas as pd 
df=pd.DataFrame({'Name':Name, 'Desgination':Designation, 'Skills':Skills, 'Company':Company})
df

,Name,Desgination,Skills,Company
0,Aakash Harit,HR Manager,"Classic ASP Developer, Internet Marketing Prof...",Data Science Network
1,shravan Kumar Gaddam,Company Recruiter,".Net, Java, Data Science, Linux Administration...",Shore Infotech India Pvt. Ltd
2,MARSIAN Technologies LLP,Company HR,"Data Science, Artificial Intelligence, Machine...",MARSIAN Technologies LLP
3,Anik Agrawal,Company Recruiter,"Mean Stack, javascript, angularjs, mongodb, We...",Enerlytics Software Solutions Pvt Ltd
4,subhas patel,Founder CEO,"Hadoop, Spark, Digital Strategy, Data Architec...",LibraryXProject
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,"Analytics, Business Intelligence, Business Ana...",Apidel Technologies Division of Transpower
6,Institute for Financial Management and Resear,Programme Manager,Data Science,IFMR
7,Balu Ramesh,HR Administrator,"Machine Learning, algorithms, Go Getter, Compu...",Techvantage Systems Pvt Ltd
8,Asif Lucknowi,Director,"Technical Training, Software Development, Pres...",Weupskill- Live Wire India
9,InstaFinancials,Human Resource,"Software Development, It Sales, Account Manage...",CBL Data Science Private Limited
10,Kalpana Dumpala,Executive Hiring,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Innominds Software
11,Mubarak,Company HR,"Business Intelligence, Data Warehousing, Data ...",MoneyTap
12,Kushal Rastogi,Company HR,"Office Administration, Hr Administration, tele...",QuantMagnum Technologies Pvt. Ltd.
13,Mahesh Babu Channa,HR Team Lead,"Social Media, digital media maketing, seo, smm...",SocialPrachar.com
14,Priyanka Akiri,HR Manager,"Oracle Dba, Data Science, Data Warehousing, ET...",Infinitive Software Solutions
15,Kapil Devang,HR Manager,"Big Data, Hadoop, Data Analytics, Data Science",BISP Solutions
16,Vaishnavi Kudalkar,HR Executive,"Data Science, Python, Data Analytics",Codeachive learning
17,Sakshi Chhikara,Assistant Manager HR,"React.js, Data Science, Java, Front End, Busin...",BIZ INFOTECNO PRIVATE LIMITED
18,Ruchi Dhote,Senior Executive Talent Acquisition,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Bristlecone India Ltd
19,Manisha Yadav,HR Executive,"Telecalling, Client Interaction, Marketing, Re...",Easi Tax
20,Riya Rajesh,Manager Talent Acquisition,Data Science,Novelworx Digital Solutions
21,Rashmi Bhattacharjee,HR Head,"Corporate Sales, Software Development, Softwar...",AXESTRACK SOFTWARE SOLUTIONS PRIVATE...
22,Faizan Kareem,HR MANAGER,"Data Analytics, Data Science, Machine Learning...",FirstTech Consaltants Pvt.Ltd
23,Rithika dadwal,HR Recruiter,"Data Science, Machine Learning, Python, R, Dee...",Affine Analytics
24,Sandhya Khandagale,HR Recruiter,"Big Data, Data Science, Artificial Intelligenc...",Compumatrice Multimedia Pvt Ltd
25,Shaun Rao,Manager Human Resources,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Exela Technologies
26,Deeparchi Sharma,Company Recruiter,"Research, Digital Marketing, Analytics, Softwa...",ZIGRAM
27,Azahar Shaikh,Company Recruiter,"Data Science, Artificial Intelligence, Machine...",NEAL ANALYTICS SERVICES PVT LTD
28,Manas,Lead Talent acquisition,"Software Architecture, Vp Engineering, Product...",Autumn Leaf Consulting Services Private...
29,kumar,Proprietor,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",trainin
30,Sunil Vedula,CEO,"Signal Processing, Machine Learning, Neural Ne...",Nanoprecise Sci Corp
31,Rajat Kumar,Founder CEO,"Web Technologies, Project Management, Software...",R.S Consultancy &amp; Services
32,Dhruv Dev Dubey,Company Recruitment Head,"Server Administartion, Verilog, Vhdl, Digital ...",NETAPS FOUNDATION
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,"Data Science, Machine Learning, Deep Learning,...",RMS Risk Management Solutions
34,Jayanth N,Project Manager,"Data Analytics, Managed Services, Team Leading...","Dollarbird Information Services Pvt, Ltd"
35,Avodha,Business Development Associate,"Ethical Hacking, Security Operations Center, S...",Nikitha Palaparthi
36,Priya Khare,Senior Manager,"Data Science, Artificial Intelligence, analyti...",Independent Consultant
37,Amit Sharma,Consultant,"Machine Learning, Artificial Intelligence, Dat...",ASCO consulting
38,Kanan,senior technology instructor,"C, C++, Artificial Intelligence, Python, Php, ...",NY INST
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,"Relationship Management, Retail Sales, Private...",3D India Staffing Research &amp; Consulting...
40,Brad,"Manager, Technical Recruiting","Data Science, Software Engineering",O.C. Tanner
41,Rutuja Pawar,Technical Recruiter,"Data Science, Big Data Analytics, Digital Mark...",Demand Matrix
42,Madhusudhan Sridhar,Erp Implementer,"Data Science, Recruitment, Salary",MADHUSUDHAN SRIDHAR
43,Ankit Sinha,Head Analytics,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Suntech Global
44,Gaurav Chouhan,Chief Technical Officer,"Software Development, Business Intelligence, B...",Strategic Consulting Lab
45,Rashi Kacker,Sr Product Manager,"Data Science, Node.js, Angularjs",Impel Labs Pvt. Ltd.
46,Ashwini,Director Global Delivery,"Data Science, Media Marketing, Resource Planni...",MRP Advisers
47,Balaji Kolli,Co Founder,"Data Analysis, Learning, Data Science, Compute...",Saras Solutions India Pvt Ltd
48,Rajani Nagaraj,HR Manager,"Java, Hadoop, R, Machine Learning, Spark, Flum...",WildJasmine
49,ROHIT Kumar,Architect,"Software Development, Core Java, Unit Testing,...",LNT Private Limited