In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: attrs>=19.2.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: outcome in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [34]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [35]:
driver.get("https://www.naukri.com/")

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [36]:
designations=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designations.send_keys('Data Analyst')

In [37]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [38]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [39]:
job_title=[ ]
job_location=[ ]
company_name=[ ]
experience_required=[ ]

In [40]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [41]:
print(len(job_title), len(job_location), len(company_name), len(experience_required))

10 10 10 10

In [42]:
import pandas as pd
df=pd.DataFrame({'Title':job_title, 'Location':job_location, 'Company Name':company_name, 'Experience Req.':experience_required})
df

,Title,Location,Company Name,Experience Req.
0,Data Analyst,Bangalore/Bengaluru,Entrupy,1-3 Yrs
1,Data Analyst,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund...",EY,5-10 Yrs
2,Data Analyst Databricks,Bangalore/Bengaluru,Optum,4-6 Yrs
3,Data Analyst,Hybrid - Bangalore/Bengaluru,Allegis Group,4-7 Yrs
4,Data Analyst,Bangalore/Bengaluru,Excellence And Eminence Llp,2-5 Yrs
5,Required Data Analyst Off Role,Bangalore/Bengaluru,TeamLease,3-5 Yrs
6,Data Analyst | Google App Script,"Bangalore/Bengaluru, Mumbai",Webengage,3-6 Yrs
7,Data Analyst,Bangalore/Bengaluru,Staffice Global,14-18 Yrs
8,Data Analyst,Bangalore/Bengaluru,Qualitest,5-8 Yrs
9,Data Analyst,Bangalore/Bengaluru,What Digital Technologies,5-10 Yrs

Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:

In [45]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [46]:
driver.get("https://www.naukri.com/")

In [47]:
designations=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designations.send_keys('Data Scientist')

In [52]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [53]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [54]:
job_title=[ ]
job_location=[ ]
company_name=[ ]

In [55]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [56]:
import pandas as pd
df=pd.DataFrame({'Title':job_title, 'Location':job_location, 'Company Name':company_name})
df

,Title,Location,Company Name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Data Scientist,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Cognizant
3,Sr. Data scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, M...",Tata Consultancy Services (TCS)
4,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",Capgemini
5,Lead Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Birlasoft
6,Data Scientist,"Bangalore/Bengaluru, Noida, Indore, Pune, Gurg...",Impetus Technologies
7,Expert Data Scientist,"Bangalore/Bengaluru, Mumbai",UPL Limited
8,Sr. Data Scientist,Bangalore/Bengaluru,Visa
9,Data Scientist Architect,"Temp. WFH - Bangalore/Bengaluru, Hyderabad/Sec...",Brace Infotech

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [83]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [84]:
driver.get("https://www.naukri.com/")

In [100]:
designations=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designations.send_keys('Data Scientist')

In [101]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [90]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[1]/span")
location

In [97]:
job_title=[ ]
job_location=[ ]
company_name=[ ]
experience_required=[ ]

In [103]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [261]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Company Name':company_name, 'Experience Req.':experience_required})
df[0:10]

,Title,Company Name,Experience Req.
0,Data Science Specialist,Accenture,2-4 Yrs
1,Analystics & Modeling Specialist,Accenture,6-8 Yrs
2,Data Scientist,Cognizant,8-10 Yrs
3,Data Scientist,Capgemini,9-14 Yrs
4,Lead Data Scientist,Birlasoft,8-12 Yrs
5,Data Scientist,Impetus Technologies,4-8 Yrs
6,Senior Director/Head - Data Science & Analytics,Vertex Corporate,20-25 Yrs
7,Job | Hiring For AVP/ VP | Senior Data Scienti...,Citicorp Finance,8-13 Yrs
8,Data Scientist,Tata nexarc,3-6 Yrs
9,Data Scientist,Datagrid Solutions,3-8 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [83]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [84]:
driver.get("https://www.flipkart.com/")

In [19]:
search=driver.find_element(By.CLASS_NAME,"_3704LK")
search.send_keys('Sunglasses')

In [20]:
searchicon=driver.find_element(By.CLASS_NAME,"_34RNph")
searchicon.click()

In [21]:
brand_name=[ ]
prod_desc=[ ]
price=[ ]

In [49]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')#,(By.XPATH,'//a[@class="_1LKTO3"]')
for i in brand_tags:
    brand_name.append(i.text)
    
product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')#,(By.XPATH,'//a[@class="_1LKTO3"]')
for i in product_tags:
    prod_desc.append(product_tags)
    
price_tags=driver.find_elements(By.XPATH,'//div[@class="_25b18c"]')#,(By.XPATH,'//a[@class="_1LKTO3"]')
for i in price_tags:
    price.append(i.text)

In [69]:
print(len(brand_name[:100])),print(len(prod_desc[:100])),print(len(price[:100]))

100
100
100

(None, None, None)

In [81]:
import pandas as pd
df=pd.DataFrame({'Price':price[0:100], 'Brand':brand_name[0:100], 'Production Description':prod_desc[0:100]})
df

,Price,Brand,Production Description
0,₹149₹59975% off,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou..."
1,₹629₹89930% off,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F..."
2,"₹149₹1,29988% off",SRPM,UV Protection Wayfarer Sunglasses (50)
3,"₹549₹2,49978% off",Singco India,"UV Protection, Riding Glasses Retro Square Sun..."
4,₹559₹79930% off,Fastrack,UV Protection Rectangular Sunglasses (Free Size)
...,...,...,...
95,"₹274₹2,59989% off",PIRASO,[<selenium.webdriver.remote.webelement.WebElem...
96,"₹149₹1,29988% off",NuVew,[<selenium.webdriver.remote.webelement.WebElem...
97,"₹284₹2,59989% off",PIRASO,[<selenium.webdriver.remote.webelement.WebElem...
98,₹629₹89930% off,PIRASO,[<selenium.webdriver.remote.webelement.WebElem...
99,"₹149₹1,29988% off",RED MONK,[<selenium.webdriver.remote.webelement.WebElem...

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [68]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [69]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART")

In [83]:
searchicon=driver.find_element(By.CLASS_NAME,"_34RNph")
searchicon.click()

In [85]:
rating=[ ]
review_summary=[ ]
full_review=[ ]

In [86]:
rating_tags=driver.find_elements(By.XPATH,'//span[@class="_2_R_DZ"]')#,(By.XPATH,'//a[@class="_1LKTO3"]')
for i in rating_tags:
    rating_tags.append
    
review_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in review_tags:
    review_summary=(i.text)
    review_tags.append
    
fullreview_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in fullreview_tags:
    fullreview_tags.append

In [ ]:
print(len(rating[0:100])),print(len(review_summary[0:100])),print(len(full_review[0:100]))

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.

In [4]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [5]:
driver.get("https://www.flipkart.com/")

In [6]:
search=driver.find_element(By.CLASS_NAME,"_3704LK")
search.send_keys('Sneakers')

In [7]:
searchicon=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
searchicon.click()

In [8]:
brand=[ ]
prod_desc=[ ]
price=[ ]

In [14]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')#,(By.XPATH,'//nav[@class="yFHi8N"]')
for i in brand_tags:
    brand.append(i.text)
    
product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in product_tags:
    prod_desc.append(prod_desc)
    
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags:
    price.append(price_tags)

In [15]:
print(len(brand[:100])),print(len(prod_desc[:100])),print(len(price[:100]))

100
100
100

(None, None, None)

In [18]:
import pandas as pd
df=pd.DataFrame({'Price':price[0:100], 'Brand':brand[0:100], 'Prodesc':prod_desc[0:100]})
df[0:100]

,Price,Brand,Prodesc
0,[<selenium.webdriver.remote.webelement.WebElem...,BIRDE,"[[[[[...], [...], [...], [...], [...], [...], ..."
1,[<selenium.webdriver.remote.webelement.WebElem...,RapidBox,"[[[[[...], [...], [...], [...], [...], [...], ..."
2,[<selenium.webdriver.remote.webelement.WebElem...,BIRDE,"[[[[[...], [...], [...], [...], [...], [...], ..."
3,[<selenium.webdriver.remote.webelement.WebElem...,SFR,"[[[[[...], [...], [...], [...], [...], [...], ..."
4,[<selenium.webdriver.remote.webelement.WebElem...,BRUTON,"[[[[[...], [...], [...], [...], [...], [...], ..."
...,...,...,...
95,[<selenium.webdriver.remote.webelement.WebElem...,Bantox,"[[[[[...], [...], [...], [...], [...], [...], ..."
96,[<selenium.webdriver.remote.webelement.WebElem...,BIRDE,"[[[[[...], [...], [...], [...], [...], [...], ..."
97,[<selenium.webdriver.remote.webelement.WebElem...,BERSACHE,"[[[[[...], [...], [...], [...], [...], [...], ..."
98,[<selenium.webdriver.remote.webelement.WebElem...,BIRDE,"[[[[[...], [...], [...], [...], [...], [...], ..."
99,[<selenium.webdriver.remote.webelement.WebElem...,RapidBox,"[[[[[...], [...], [...], [...], [...], [...], ..."

Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then
set CPU Type filter to “Intel Core i7” as shown in the below image:

In [56]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [57]:
driver.get("https://www.amazon.in/")

In [70]:
search=driver.find_element(By.CLASS_NAME,"nav-search-field ")
search.send_keys("Laptops")

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=110.0.5481.104)
Stacktrace:
Backtrace:
	(No symbol) [0x005C37D3]
	(No symbol) [0x00558B81]
	(No symbol) [0x0045B230]
	(No symbol) [0x00488586]
	(No symbol) [0x004876A7]
	(No symbol) [0x004AB41C]
	(No symbol) [0x00482B96]
	(No symbol) [0x004AB774]
	(No symbol) [0x004C1215]
	(No symbol) [0x004AB216]
	(No symbol) [0x00480D97]
	(No symbol) [0x0048253D]
	GetHandleVerifier [0x0083ABF2+2510930]
	GetHandleVerifier [0x00868EC1+2700065]
	GetHandleVerifier [0x0086C86C+2714828]
	GetHandleVerifier [0x00673480+645344]
	(No symbol) [0x00560FD2]
	(No symbol) [0x00566C68]
	(No symbol) [0x00566D4B]
	(No symbol) [0x00570D6B]
	BaseThreadInitThunk [0x766800F9+25]
	RtlGetAppContainerNamedObjectPath [0x77177BBE+286]
	RtlGetAppContainerNamedObjectPath [0x77177B8E+238]

Q8: Write a python program to scrape data for Top 1000 Quotes of All Time.

In [71]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [72]:
driver.get("https://www.azquotes.com/")

In [73]:
quote=[ ]
authors=[ ]
types_of_quotes=[ ]

In [156]:
quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_tags:
    quote.append(i.text)
    
author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags:
    authors.append(i.text)
    
types_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in types_tags:
    types_of_quotes.append(i.text)

In [157]:
print(len(quote[0:1000])), print(len(authors[0:1000])), print(len(types_of_quotes[0:1000]))

1000
1000
1000

(None, None, None)

In [183]:
import pandas as pd
df=pd.DataFrame({'Types Of Quotes':types_of_quotes[0:1000], 'Author':authors[0:1000], 'Types of quotes':types_of_quotes[0:1000]})
df[:1000]

,Types Of Quotes,Author,Types of quotes
0,"Essence, Deep Thought, Transcendentalism",Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,"Inspiration, Past, Trying",Golda Meir,"Inspiration, Past, Trying"
2,"Country, Peace, War",Theodore Roosevelt,"Country, Peace, War"
3,"Inspirational, Motivational, Death",Nelson Mandela,"Inspirational, Motivational, Death"
4,"4th Of July, Food, Patriotic",Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"Music, Sports, Hunting",Hunter S. Thompson,"Music, Sports, Hunting"
996,"Trust, Encouraging, Uplifting",Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,"Inspirational, Funny, Change",Dalai Lama,"Inspirational, Funny, Change"
998,"Success, God, Mother",Mother Teresa,"Success, God, Mother"
999,"Inspirational, Motivational, Change",Norman Vincent Peale,"Inspirational, Motivational, Change"

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
Term of office, Remarks) from https://www.jagranjosh.com/.

In [3]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [4]:
driver.get("https://www.jagranjosh.com/")

In [186]:
#/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[2]/td[2]/p/strong/a

In [97]:
name=[ ]
born_dead=[ ]
term_of_office=[ ]
remarks=[ ]

In [98]:
name_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[2]/table/tbody/tr[18]/td[2]')
for i in name_tags:
    name.append(i.text)

In [101]:
import pandas as pd
df=pd.DataFrame({'Name':name})
df[0:18]

             Name
0  Manmohan Singh